@import "tailwindcss";

:root {
  --background: #3b9191;
  --foreground: #046534;
  --button-primary: var(--color-blue-500);
  --button-primary-hv: var(--color-blue-600);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-button-primary: var(--button-primary);
  --color-button-primary-hover: var(--button-primary-hv);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #116d6d;
    --foreground: #45aa77;
    --text: #ffffff;
    --button-primary: var(--color-blue-800);
    --button-primary-hv: var(--color-blue-700);
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.calc-btn {
  @apply px-4 py-2 bg-button-primary text-white rounded hover:bg-button-primary-hover;
}

legend {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

form fieldset:first-of-type legend {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
}

.range-input {
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
}

.disabled-range-input {
  opacity: 0.5;
  display: flex;
}

.range-input input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  width: 100%;
}

.range-input span {
  margin-left: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  min-width: 3ch;
}

.input-error {
  border: 2px solid #f87171;
}

.input-normal {
  border: 2px solid #d1d5db;
}

.input-base {
  padding: 0.5rem;
  border-radius: 0.375rem;
}


.carbon-footprint-question {
  display: block;
  margin-bottom: 0px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
  /* Add space between the checkbox/radio and the text */
}

fieldset input[type="text"] {
  margin-left: 5px;
}

button[type="submit"] {
  margin-top: 20px;
}

.large-text-box {
  width: 100%;
  padding: 0.75rem 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  resize: vertical;
  height: 100px;
  min-height: 100px;
  box-sizing: border-box;
}

fieldset .inline-label {
  display: inline-flex;
  align-items: center;
  /* Align the checkbox and input vertically */
  margin-bottom: 10px;
  /* Add space at the bottom to match the other labels */
}

.outer-box {
  display: flex;
  background: var(--foreground);
  color: var(--text);
}